<div class="carousel">
    <app-card-carousel [icon]="'wheelchair_pickup'" [title]="'Sillas de ruedas'" [img]="'https://impormedical.com.co/images/virtuemart/product/EP8A0227.jpg'"></app-card-carousel>
    <app-card-carousel [icon]="'wheelchair_pickup'" [title]="'Sillas de ruedas'" [img]="'https://impormedical.com.co/images/virtuemart/product/EP8A0227.jpg'"></app-card-carousel>
    <app-card-carousel [icon]="'wheelchair_pickup'" [title]="'Sillas de ruedas'" [img]="'https://impormedical.com.co/images/virtuemart/product/EP8A0227.jpg'"></app-card-carousel>
    <app-card-carousel [icon]="'wheelchair_pickup'" [title]="'Sillas de ruedas'" [img]="'https://impormedical.com.co/images/virtuemart/product/EP8A0227.jpg'"></app-card-carousel>
    <app-card-carousel [icon]="'wheelchair_pickup'" [title]="'Sillas de ruedas'" [img]="'https://impormedical.com.co/images/virtuemart/product/EP8A0227.jpg'"></app-card-carousel>
    <app-card-carousel [icon]="'wheelchair_pickup'" [title]="'Sillas de ruedas'" [img]="'https://impormedical.com.co/images/virtuemart/product/EP8A0227.jpg'"></app-card-carousel>
    <app-card-carousel [icon]="'wheelchair_pickup'" [title]="'Sillas de ruedas'" [img]="'https://impormedical.com.co/images/virtuemart/product/EP8A0227.jpg'"></app-card-carousel>
    <app-card-carousel [icon]="'wheelchair_pickup'" [title]="'Sillas de ruedas'" [img]="'https://impormedical.com.co/images/virtuemart/product/EP8A0227.jpg'"></app-card-carousel>
    <app-card-carousel [icon]="'wheelchair_pickup'" [title]="'Sillas de ruedas'" [img]="'https://impormedical.com.co/images/virtuemart/product/EP8A0227.jpg'"></app-card-carousel>

</div>