<nav class="navbar navbar-light bg-light navbar-expand-lg navbar-survival101">
    <div class="container-fluid container">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/logo.png" class="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <form class="form-inline">
          <div class="input-group search-box">
            <input type="text" class="form-control" placeholder="¿QUÉ ESTÁS BUSCANDO? ESCRÍBELO AQUÍ..." aria-label="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary btnsearch" type="button"><i class="fa-solid fa-magnifying-glass text-light"></i></button>
            </span>
          </div>
        </form>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link pedidos" href="#"><b>MIS PEDIDOS</b></a>
          </li>
          <li class="nav-item ingresa">
            <p>
              HOLA ALIAD@
            </p>
              <a class="nav-link ingresar" id="ingresar" href="#"><u>INGRESA</u></a>


          </li>
          <li class="nav-item carrito">
            <div>
              <div class="cantidad">0</div>
              <span class="material-symbols-outlined">
                shopping_cart
              </span>
            </div>
            <a class="nav-link" href="#">CARRITO</a>
          </li>
        </ul>

      </div>
    </div>
      
  </nav>