<app-navbar></app-navbar>
<div class="containerOptions">
    <div class="row">
        <div class="col-2">
            <span class="material-symbols-outlined">
                menu
            </span>
        </div>
        <div class="col-10">
            <app-options [name]="'MOVILIDAD'" [icon]="'accessible_forward'"></app-options>
            <app-options [name]="'CUIDADO EN EL HOGAR'" [icon]="'heart_plus'"></app-options>
            <app-options [name]="'PROFESIONALES DE LA SALUD'" [icon]="'medication'"></app-options>
            <app-options [name]="'TAPABOCAS Y DESINFECCIÓN'" [icon]="'masks'"></app-options>
        </div>
    </div>

</div>
<div class="AllContent">
    <app-main-page></app-main-page>
</div>
