<div class="container">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #020202"
            >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h3 class="text-uppercase mb-4 font-weight-bold titlefooter">
                SOBRE NOSOTROS
              </h3>
              <p>
                <a class="text-white">¿Quiénes somos?</a>
              </p>
              <p>
                <a class="text-white">Nuestra historia</a>
              </p>
              <p>
                <a class="text-white">Nuestra información</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h3 class="text-uppercase mb-4 font-weight-bold titlefooter">CATEGORÍAS DESTACADAS</h3>
              <p>
                <a class="text-white">MDBootstrap</a>
              </p>
              <p>
                <a class="text-white">MDWordPress</a>
              </p>
              <p>
                <a class="text-white">BrandFlow</a>
              </p>
              <p>
                <a class="text-white">Bootstrap Angular</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h3 class="text-uppercase mb-4 font-weight-bold titlefooter">
                Useful links
              </h3>
              <p>
                <a class="text-white">Your Account</a>
              </p>
              <p>
                <a class="text-white">Become an Affiliate</a>
              </p>
              <p>
                <a class="text-white">Shipping Rates</a>
              </p>
              <p>
                <a class="text-white">Help</a>
              </p>
            </div>
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h3 class="text-uppercase mb-4 font-weight-bold titlefooter">SUSCRIBASE A NUESTRO NEWSLETTER</h3>
              <div class="input-group flex-nowrap">
                <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping">
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                    Aceptación de terminos y condiciones de manejo de datos
                </label>
            </div>
            <br>
              <p> Nuestros metodos de pago</p>
                <img class="imgpagos" src="../../../assets/Logos-01.png" alt="">
            </div>
            <!-- Grid column -->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-3">
  
        <!-- Section: Copyright -->
        <section class="p-3 pt-0 desarrollado">
          <div class="d-flex">
            <p>Desarrollado por:</p>
            <img class="imgpagos" src="../../../assets/descarga.png" alt="">
          </div>
        </section>
        <!-- Section: Copyright -->
      </div>
      <!-- Grid container -->
    </footer>
    <!-- Footer -->
</div>
  <!-- End of .container -->